{{define "content"}}
<div class="stack">
  <table class="table">
    <thead>
      <tr>
        <th>Dato</th>
        <th style="white-space: nowrap">Vinder</th>
        <th style="white-space: nowrap">2. plads</th>
        <th class="hide-small">Deltagere</th>
      </tr>
    </thead>
    <tbody>
      {{if .Games}} {{range .Games}}
      <tr>
        <td>{{.PlayedAt.Format "2006-01-02"}}</td>
        <td style="white-space: nowrap">
          <a href="/player?id={{.Winner.ID}}"
            >{{.Winner.Emoji}} {{.Winner.Name}}</a
          >
        </td>
        <td style="white-space: nowrap">
          <a href="/player?id={{.Second.ID}}"
            >{{.Second.Emoji}} {{.Second.Name}}</a
          >
        </td>
        <td class="hide-small">
          {{range .Participants}}<a href="/player?id={{.ID}}" title="{{.Name}}"
            >{{.Emoji}}</a
          >{{end}}
        </td>
      </tr>
      {{end}} {{else}}
      <tr>
        <td colspan="3">Ingen spil registreret endnu.</td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>
{{end}}
