{{define "content"}}
<div class="stack">
  <table class="table">
    <thead>
      <tr>
        <th>Dato</th>
        <th style="white-space: nowrap">Vinder</th>
        <th style="white-space: nowrap">2. plads</th>
        <th>Resterende</th>
      </tr>
    </thead>
    <tbody>
      {{if .Games}} {{range .Games}}
      <tr>
        <td>{{.PlayedAt.Format "2006-01-02"}}</td>
        <td style="white-space: nowrap">{{.Winner.Emoji}} {{.Winner.Name}}</td>
        <td style="white-space: nowrap">{{.Second.Emoji}} {{.Second.Name}}</td>
        <td>
          {{range $i, $p := .Others}} {{if $i}} {{end}} {{$p.Emoji}} {{end}}
        </td>
      </tr>
      {{end}} {{else}}
      <tr>
        <td colspan="4">Ingen spil registreret endnu.</td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>
{{end}}
